rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isOwner(userId) { return signedIn() && request.auth.uid == userId; }
    function isAdmin() {
      return signedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow read, create, update: if isOwner(userId);
      allow delete: if false;
      match /{collection}/{document} {
        allow read, write: if isOwner(userId);
      }
    }

    match /admin/{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
